/* ://www.joshwcomeau.com/css/custom-css-reset/ CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ CSS RESET */

/* FONT FOR LOGO */
@font-face {
  font-family: 'logo-font';
  src: url(../webfontkit-20250722-225433/norse-bold-webfont.woff2) format('woff2');
  font-display: swap;
}

/*HEADER*/

.header-container{ 
  height: 15vh;
  width: 100vw;
}

.header{
  position: relative;
  
  height: inherit;
  width: inherit;
}

.header-image{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: inherit;
  height: inherit;
  object-fit: cover;
}

.header-logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30%;
  right: 30%;

  background-color: rgba(145, 143, 144, 0.65);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo > p {
  font-family: 'logo-font', Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.header-logo > img {
  height: 80px;
}


/*HEADER*/


/*CONTENT*/
.content{
  width: 100vw;
  height: 85vh;
}


/*CONTENT*/