/* ://www.joshwcomeau.com/css/custom-css-reset/ CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ CSS RESET */

/* FONT FOR LOGO */
@font-face {
  font-family: 'logo-font';
  src: url(../webfontkit-20250722-225433/norse-bold-webfont.woff2) format('woff2');
  font-display: swap;
}

/* UNIVERSAL FONT (not for logo) */
*{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container{
  display: grid;
  grid-template-rows: 15vh 1fr;
  grid-template-columns: 1fr;
}

/*HEADER*/

.header-container{ 
  display: grid;
  grid-row: 1 / 2;
}

.header{
  position: relative;
}

.header-image{
  height: 15vh;
  width: 100vw;
  object-fit: cover;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header-logo{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30%;
  right: 30%;

  background-color: rgba(145, 143, 144, 0.65);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo > p {
  font-family: 'logo-font', Arial, Helvetica, sans-serif;
  font-size: 80px;
}

.header-logo > img {
  height: 80px;
}

/*HEADER*/

/*CONTENT*/

.content-container{
  display: grid;
  grid-row: 2 / 3;
}

.content{
  background-color: burlywood;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  padding: 2vh;
}

.content-action{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.content-action > button{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
}

.content-title{
  font-family: 'logo-font';
  font-size: 5vh;
}

.content-grid{
  display: grid;

  border: 1px solid brown;
  border-radius: 10px;
  box-shadow: 5px 5px 20px grey;

  padding: 20px;

  width: 80%;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 50px;
  column-gap: 50px;
}

.outerCardClass{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: white;

  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 5px;
}

.card{
  position: relative;
  width: inherit;
  height: inherit;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.read, .unread{
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.read > img, .unread > img{
  width: 80px;
}

.unread{
  background-color: red;
}

.read{
  background-color: green;
}

.cancel-button{
  position: absolute;
  border: none;
  border-radius: 16px;
  width: 32px;
  height: 32px;

  top: -10px;
  left: -20px;
  
  background-color: rgba(177, 168, 172, 0.55);
  cursor: pointer;
}


/*CONTENT*/

/*MODALS*/

/*ADDING BOOK*/

.add-modal-container, .sort-modal-container{
  background-color: rgba(145, 143, 144, 0.65);

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-modal, .sort-modal{
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 30vw;
  background-color: white;
  border-radius: 100px;
  gap: 3vh
}

.add-modal{
  height: 50vh;
}

.add-title{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.add-input{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outerCardClass{
  position: relative;
}

.modal-add-book-button, .modal-cancel-book-button, .modal-sort-book-button, .modal-cancel-sort-book-button{
  cursor: pointer;
}

/*ADDING BOOK*/

/*SORTING*/

.sort-input{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.sort-modal{
  height: 55vh;
}
/*SORTING*/

/*MODALS*/